.modalOverlay {
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
    background-color: var(--branco);
    border-radius: 4px;
    max-width: 700px;
}

.conteudo {
    padding: 16px 16px 32px 16px;
}

@media (max-width: 800px) {
  .modal {
    max-width: 343px;
  }
}